{% extends 'base.html' %}
{% block content %}

<main class=>
    <main>
        <section class="py-6 text-start container">
            <div class="row py-lg-5">
                <div id="my_header" class=" col-lg-6 col-md-8 mx-auto ">
                    <h1 class="fw-light text-center">About me</h1>
                    <p class="lead " style = "font-size:medium; font-family:Arial, Helvetica, sans-serif;"> 
                        My name is Yair Notkovich.  
                        At the age of 40 (2022) I've decided to make a career change and take a leap in to  
                        software development. <br>
                        taking a 'Python Full-stack' course is my first step in to this world.
                    </p>
                    <p>
                    <p class="lead text-muted"></p>
                    <a  data-toggle="tab" class="nav-link" href="https://github.com/YairNotkovich/FirstProject.git">the project on GIThub </a>
                    </p>
                </div>
            </div>
        </section>

</main>

{% endblock %}