{% extends 'mng-base.html' %} 
{%block title%} Librarian: {{ name }} {%endblock%}

    

{% block content %}

  

    <div class=" bg-light" style = "padding: 1rem; border-radius: .25rem;">
      
      <h2>Books </h2>
        <h6>{{total}} Total</h6>
      <div class="table-responsive-sm table-fit tableFixHead ">
        <table >
            <thead  >
                <tr>
                  <th scope="col-sm">#</th>
                  <th scope="col-sm">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Published</th>
                  <th scope="col">Type</th>
                </tr>
              </thead>
         
            {% for book in books %}
            <tr >
            <td >{{loop.index}}</td>
            <td >{{book[0]}}</td>
            <td >{{book[1]}}</td>
            <td >{{book[2]}}</td>
            <td >{{book[5]}}</td>
            <td >{{book[6]}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      
  </div>
  </main>



 
{% endblock %}
