{% extends 'mng-base.html' %} 
{%block title%} Librarian: {{ name }} {%endblock%}

    

{% block content %}

  

    <div class=" bg-light " style = "padding: 1rem; border-radius: .25rem;">
      
      <h2>Loans </h2>
        <h6>{{total}} Total</h6>
      <div class="table-responsive-sm table-fit tableFixHead ">
        <table >
          <thead >
            <tr>
                <th scope="col-sm">#</th>
                <th scope="col-sm">Loan ID</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Book ID</th>
                <th scope="col">Book</th>
                <th scope="col">Loan Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Overdo</th>
              </tr>
          </thead>
          <tbody class="body-half-screen " >
            {% for loan in loans %}
            <tr >
              <td class="td.fit" >{{loop.index}}</td>
              <td class="td.fit" >{{loan[0]}}</td>
              <td class="td.fit">{{loan[1]}}</td>
              <td>{{loan[2]}}</td>
              <td>{{loan[3]}}</td>
              <td>'{{loan[4]}}'</td>
              <td>{{loan[5]}}</td>
              <td>{{loan[6]}}</td>
              {%if loan[8] %}
              <td>OVERDO</td>
              {%else%}
              <td>No</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
  </div>



 
{% endblock %}
