{% extends 'base.html' %}
{% block head %}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="css/A.style.css.pagespeed.cf.AxmTFBrhes.css"> -->

<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/more.css') }}">
{% endblock %}
{% block content %}

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section">The Desk</h1>
                </div> -->
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img login">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                                <div class="w-100">

                                </div>
                            </div>
                             {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} go to <a href="{{ url_for('auth.register') }}">Signup page</a>
        </div>
        {% endif %}
        {% endwith %}
                            <form action="/login" class="signin-form" method="POST">
                                <div class="form-group mt-3 control">
                                    <input type="email" class="form-control" name="email">
                                    <label class="form-control-placeholder" for="username">Your Email</label>
                                </div>
                                <div class="form-group  control">
                                    <input type="password" name="password" class="form-control" name="password">
                                    <label class="form-control-placeholder" for="password">Password</label>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                        In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                            <input type="checkbox" name="remember" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                   
                                </div>
                            </form>
                            <p class="text-center">Not a member? <a data-toggle="tab" href="{{ url_for('auth.register') }}">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.3YxqA_kpjO.js"></script>
    <script>eval(mod_pagespeed_B48vE68w01);</script>
    <script>eval(mod_pagespeed_M0XlbbKlq8);</script>
    <script>eval(mod_pagespeed_DUZ_Pnp2XD);</script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"7057c5e45a8fadb5","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>